@-webkit-keyframes animation-underline-to-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes animation-underline-to-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
}

#Home {
    font-family: 'Work Sans','sans-serif';
    padding: 0;
    margin: 0;

}

.order-cart {
    
    background-image: url('../../assets/images/first-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
   height: 100vh;
   display: flex;

   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
       /* display: none; <- Crashes Chrome on hover */
       -webkit-appearance: none;
       margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
   }

   .write-content {
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;

        margin-left: auto;
        margin-right: auto;
        h1 {
            text-align: initial;
            color: #fff;
            font-weight: 600;
            font-size: 3rem;
        }

        p {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

   .input-content {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    margin-right: 4rem;

    border-radius: 1rem;

    background-color: #fff;
    width: 20%;
    height: 20rem;

    padding: 1.6rem;

    h3 {
        font-weight: 500;
        font-size: 1.6rem;
    }
    
        .input-area {
            position: relative;
            display: block; 
            padding: 1.25rem;

            input {
                width: 100%;
                border-bottom: 1px solid black;
            }
        }

        button {
            margin-top: 5rem;
            display: flex;
            width: 100%;
            padding: 1.25rem;
            border-radius: 4rem;
            color: rgb(141, 141, 141);
        }
   }
}

.normal-cart {
    display: flex;
    height: 100vh;
    .image-content-normal-cart {
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    .write-content-normal-cart {        
        width: 50%;
        
        margin-left: 8rem;

        margin-top: auto;
        margin-bottom: auto;
        
        font-weight: 600;
        font-size: 3rem;
        p {
            text-align: initial;

            a {
                color: #820ad1;
            }
        }

        .write-content-normal-cart {
            margin-top: 1rem;
            display: flex;
        }

        .cart {
            p {
                font-size: 1rem;
                color: #820ad1;
                display: inline;
            }

            p{
                position: relative;
            }

            p:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #820ad1;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            }

            p:hover:before {
                visibility: visible;
                width: 100%;
            }

            p:hover {
                cursor: pointer;
            }
        }
    } 
}

.ultraviolet-cart {
    display: flex;
    height: 100vh;

    background-color: #f1f1f1;
    .image-content-ultraviolet-cart {
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    .write-content-ultraviolet-cart {
        display: inline-block;
        
        width: 50%;
        
        margin-top: auto;
        margin-bottom: auto;

        margin-left: 8rem;
        
        font-weight: 600;
        font-size: 3rem;
        p {
            text-align: initial;

            a {
                color: #820ad1;
            }
        }

        .ultraviolet {
            p {
                font-size: 1rem;
                color: #820ad1;
                text-align: initial;
                display: inline;
            }

            p{
                position: relative;
            }

            p:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #820ad1;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            }

            p:hover:before {
                visibility: visible;
                width: 100%;
            }

            p:hover {
                cursor: pointer;
            }         
        }
    }
}

.phone-informations {
    display: flex;
    height: 100vh;
    .image-content-phone-informations {
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        text-align: center;
        img {
            max-width: 20rem;
        }
    }

    .write-content-phone-informations {
        display: inline-block;
        
        width: 50%;
        
        margin-left: 8rem;

        margin-top: auto;
        margin-bottom: auto;
        
        font-weight: 600;
        font-size: 3rem;
        p {
            text-align: initial;

            a {
                color: #820ad1;
            }
        }

        .phone {
            p {
                display: inline;
                font-size: 1rem;
                color:#820ad1;
                text-align: initial;
            }

            p{
                position: relative;
            }

            p:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #820ad1;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            }

            p:hover:before {
                visibility: visible;
                width: 100%;
            }

            p:hover {
                cursor: pointer;
            }

        }
    }
}

.control-finance-life {
    background-image: url('../../assets/images/second-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;

    margin-top: auto;
    margin-bottom: auto;


    .write-content-control-finance-life {
        width: 50%;

        h1 {
            padding-top: 35%;
            padding-bottom: 3%;
            padding-left: 23%;
            font-size: 3rem;

            text-align: initial;

            color: #fff;
        }

        .finance-life {
            margin-left: 23%;

            p {
                display: inline;
                text-align: center;
                color: #fff;
            }

            p{
                position: relative;
            }

            p:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            }

            p:hover:before {
                visibility: visible;
                width: 100%;
            }

            p:hover {
                cursor: pointer;
            }
        }
    }
}
.nu-community {
    background-image: url('../../assets/images/third-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;

    margin-top: auto;
    margin-bottom: auto;


    .write-content-nu-community {
        width: 50%;

        h1 {
            padding-top: 35%;
            padding-bottom: 3%;
            padding-left: 23%;
            font-size: 3rem;

            text-align: initial;

            color: #fff;
        }

        .community {
            margin-left: 23%;
            p {
                display: inline;
                text-align: initial;
                color: #fff;
            }

            p{
                position: relative;
            }

            p:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            }

            p:hover:before {
                visibility: visible;
                width: 100%;
            }

            p:hover {
                cursor: pointer;
            }
        }
    }
}

.hi-nubank {
    background-image: url('../../assets/images/fourth-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;

    margin-top: auto;
    margin-bottom: auto;


    .write-content-hi-nubank {
        width: 50%;

        h1 {
            padding-top: 35%;
            padding-bottom: 3%;
            padding-left: 23%;
            font-size: 3rem;

            text-align: initial;

            color: #fff;
        }

        .hi {
            margin-left: 23%;

            p {
                color: #fff;
                display: inline;
            }

            p{
                position: relative;
            }

            p:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            }

            p:hover:before {
                visibility: visible;
                width: 100%;
            }

            p:hover {
                cursor: pointer;
            }
        }
    }
}