@-webkit-keyframes animation-underline-to-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes animation-underline-to-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
}

#Home {
    font-family: 'Work Sans','sans-serif';
    padding: 0;
    margin: 0;

}

.order-cart {
    
    background-image: url('../../assets/images/first-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    .ads-order {
        width: 100%;
        height: 100vh;

        padding-top: 19rem;
        display: flex;

        .write-content-order {
            color: #fff;
            margin-left: 12rem;
            margin-top: 2rem;
            h1 {
                font-size: 3.5rem;
                font-weight: 600;
            }

            p {
                font-size: 1.6rem;
                font-weight: 500;
            }
        }   

        .input-content-order {

            background-color: #fff;
            height: 33%;
            width: 15%;
            text-align: center;
            
            justify-content: end;
            right: 3rem;
            position:absolute;
    
            padding-top: 1.3rem;
            padding-left: .7rem;
            padding-right: .7rem;
    
            border-radius: .4rem;
    
            h1 {
                font-weight: 500;
                padding: .7rem;
                font-size: 1.5rem;
            }
    
            input {
                background-color: #fff;
                background-image: none;
    
                border-bottom-style: solid;
                border-bottom-width: .1rem;
    
                color: rgb(0, 0, 0);
                text-align: initial;
                font-size: .9rem;
    
                padding: .4rem;
    
                width: 100%;
    
                font-family: 'Work Sans';
            }
        
            button {
                background-color: #820ad1;
                font-weight: 600;
                padding: 1rem;
                border-radius: 6rem;
                
                font-size: .9rem;
                color: #fff;
    
                margin-top: 4.8rem;
                width: 90%;
            }

        }
    }
}

.normal-cart {
    display: flex;
    height: 100vh;
    .image-content-normal-cart {
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    .write-content-normal-cart {
        display: inline-block;
        
        width: 50%;
        
        margin-left: 8rem;

        margin-top: auto;
        margin-bottom: auto;
        
        font-weight: 600;
        font-size: 3rem;
        p {
            text-align: initial;

            a {
                color: #820ad1;
            }
        }

        span {
            font-size: 1rem;
            color: #820ad1;
            text-align: initial;
        }

        span:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 0.1rem;
        }
    }
}

.ultraviolet-cart {
    display: flex;
    height: 100vh;

    background-color: #f1f1f1;
    .image-content-ultraviolet-cart {
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    .write-content-ultraviolet-cart {
        display: inline-block;
        
        width: 50%;
        
        margin-top: auto;
        margin-bottom: auto;

        margin-left: 8rem;
        
        font-weight: 600;
        font-size: 3rem;
        p {
            text-align: initial;

            a {
                color: #820ad1;
            }
        }

        span {
            font-size: 1rem;
            color: #820ad1;
            text-align: initial;
        }

        span:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 0.1rem;
        }
    }
}

.phone-informations {
    display: flex;
    height: 100vh;
    .image-content-phone-informations {
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        text-align: center;
        img {
            max-width: 20rem;
        }
    }

    .write-content-phone-informations {
        display: inline-block;
        
        width: 50%;
        
        margin-left: 8rem;

        margin-top: auto;
        margin-bottom: auto;
        
        font-weight: 600;
        font-size: 3rem;
        p {
            text-align: initial;

            a {
                color: #820ad1;
            }
        }

        span {
            font-size: 1rem;
            color: #820ad1;
            text-align: initial;
        }

        span:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 0.1rem;
        }
    }
}

.control-finance-life {
    background-image: url('../../assets/images/second-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;

    margin-top: auto;
    margin-bottom: auto;


    .write-content-control-finance-life {
        width: 50%;

        h1 {
            padding-top: 35%;
            padding-bottom: 5%;
            padding-left: 23%;
            font-size: 3rem;

            text-align: initial;

            color: #fff;
        }

        span {
            padding-left: 23%;
            text-align: initial;
            color: #fff;
        }
    }
}
.nu-community {
    background-image: url('../../assets/images/third-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;

    margin-top: auto;
    margin-bottom: auto;


    .write-content-nu-community {
        width: 50%;

        h1 {
            padding-top: 35%;
            padding-bottom: 5%;
            padding-left: 23%;
            font-size: 3rem;

            text-align: initial;

            color: #fff;
        }

        span {
            padding-left: 23%;
            text-align: initial;
            color: #fff;
        }
    }
}

.hi-nubank {
    background-image: url('../../assets/images/fourth-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100vh;

    margin-top: auto;
    margin-bottom: auto;


    .write-content-hi-nubank {
        width: 50%;

        h1 {
            padding-top: 35%;
            padding-bottom: 5%;
            padding-left: 23%;
            font-size: 3rem;

            text-align: initial;

            color: #fff;
        }

        span {
            padding-left: 23%;
            text-align: initial;
            color: #fff;
        }
    }
}